@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 30px;
    right: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }

    &__btn {
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-right: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: #1C1C1C;
            background-color: #fff;
        }
    }

    &__phone {
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.menu {
    &__list-item {
        display: inline-block;

        &+.menu__list-item {
            padding-left: 20px;
        }
    }
}

.top {
    background-image: url(../images/top-bg.jpg);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;
    }

    &__wrapper {
        height: calc(100vh - 75px);
        display: flex;
        align-items: flex-end;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    &__title {
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }

    &__text {
        margin: 25px 0 35px;
        max-width: 325px;
    }

    &__social-item {
        display: inline-block;
        margin: 0 25px;
    }

    &__social-link {
        opacity: 0.5;
        transition: all 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}

.products {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }

    &__text {
        max-width: 440px;

        p {
            margin-bottom: 30px;
        }
    }

    &__slider-box {
        position: relative;
        padding-top: 110px;
    }

    &__slider-text {
        @extend %ubuntu-medium;
        position: absolute;
        bottom: 30px;
        left: -250px;
        max-width: 285px;
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        z-index: 5;
    }

    &__slider {
        max-width: 560px;

        &::before {
            content: "";
            position: absolute;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}

.slider-btn {
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: -45px;
    right: 0;
    z-index: 5;
    cursor: pointer;
    outline: none;

    svg {
        stroke: #000;
    }

    &__left {
        right: 60px;
    }

    &.slick-disabled {
        background-color: #000;

        svg {
            stroke: #fff;
        }
    }
}

.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    &__item {
        display: flex;
        margin-bottom: 100px;
        align-items: flex-end;

        &:nth-child(even) {
            margin-left: 40px;
            transform: translateY(25px);
        }
    }

    &__item-1,
    &__item-3 {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
        }
    }

    &__item-1 {
        &::before {
            height: 48px;
            width: 245px;
            background-image: url('../images/line-1.svg');
            right: -55px;
            top: 33px;

        }
    }

    &__item-3 {
        &::before {
            height: 40px;
            width: 254px;
            background-image: url('../images/line-3.svg');
            right: -55px;
            top: 50px;
        }

        &::after {
            height: 62px;
            width: 463px;
            background-image: url('../images/line-2.svg');
            right: -54px;
            top: -70px;
        }
    }

    &__num {
        @extend %ubuntu-bold;
        font-size: 36px;
        line-height: 41px;
        margin-right: 10px;
    }

    &__img {
        position: relative;
        margin-right: 32px;

        &::before {
            content: "";
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            top: -12px;
            right: -12px;
            z-index: -1;
        }
    }

    &__info {
        width: 300px;
    }

    &__info-title {
        @extend %ubuntu-bold;
        width: 123px;
        margin-bottom: 10px;
        font-size: 21px;
        line-height: 24px;
    }

    &__info-text {
        font-size: 15px;
        line-height: 19px;
    }
}




@import "media";